@font-face {
	font-family: 'DIN Next LT Arabic';
	src: url('../../configs/fonts/DINNextLTArabic-Regular.woff2') format('woff2'),
			url('../../configs/fonts/DINNextLTArabic-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: 'Circle Book';
  src: url('../../configs/fonts/Circle-Book.woff2') format('woff2'),
      url('../../configs/fonts/Circle-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circle';
  src: url('../../configs/fonts/Circle-Light.woff2') format('woff2'),
      url('../../configs/fonts/Circle-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #6A5AE0;
  --header-color: #FF8FA2;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'DIN Next LT Arabic', sans-serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin: 3rem auto;
}

.flex {
  display: flex;
}

.range {
  flex: auto;
  margin-right: 20px;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.flex-fill {
  flex: 0 0 100%;
}

.fill {
  width: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.input__style{
  height: 56px;
  font-size: 16px;
}

.form-button{
  display: inline-block;
  width: 100%;
  height: 56px;
}

.form-button span{
  font-size: 1.5vw;
}