.confirmation__layout{
  width: 100vw;
  height: 100vh;
  background-image: url(../../../public/images/bg.png);
  background-position: bottom;
  background-size: cover;
}

.confirmation__content__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 40vh;
}

.confirmation__footer__button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 65px;
}