.layout__header{
  height: 98px;
  width: 97vw;
  margin: 0px auto;
  margin-bottom: 0.7rem;
  background-color: var(--header-color);
  box-shadow: -1px 2px 15px 0px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: -1px 2px 15px 0px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: -1px 2px 15px 0px rgba(0, 0, 0, 0.46);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.header__menu{
  color: white;
  background-color: #FF8FA2;
  height: 85%;
}

.header__menu a{
  font-size: 20px;
}

.header__user{
  height: 98px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__username{
  color: white;
  font-size: 20px;
  margin-top: 16px;
}