.auth__wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url(../../../public/images/bg.png);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.auth__logo {
  margin: 1.5vh auto;
}

.login__card {
  width: 32vw;
  min-width: 350px;
  margin-bottom: 1.1vh;
}

.login__card .ant-card-head-title{
  font-size: 24px;
}

.login__card .ant-card-body{
  padding-bottom: 0;
}

.login__props span{
  font-size: 18px;
}

.login-form .login-form-button{
  margin-bottom: 3px;
}

.login__buttons .ant-form-item-control-input-content{
  display: flex;
  flex-direction: column;
}