.settings__button{
  width: 327px;
  height: 85px;
  background-color: #EFEEFC;
  margin-bottom: 5vh;
}

.settings__button__title{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}