.reg__wrapper {
  background-image: url(../../../public/images/bg.png);
  background-position: right;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reg__logo{
  margin: 5vh 0;
}

.reg__card{
  width: 40vw;
  min-width: 350px;
  margin-bottom: 8vh;
}

.reg__card .ant-card-body{
  padding-bottom: 0;
}

.reg__card .ant-card-head-title{
  font-size: 24px;
}

.reg__card label{
  font-size: 20px !important;
}

.input__style .ant-select-selector{
  height: 56px !important;
  display: flex;
  align-items: center;
}