.reg__wrapper {
  background-image: url(../../../public/images/bg.png);
  background-position: right;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reg__logo{
  margin: 2rem 0;
}

.reg__card{
  width: 30vw;
  margin-bottom: 3rem;
}

.reg__card .ant-card-body{
  padding-bottom: 0;
}

.reg__card .ant-card-head-title{
  font-size: 1.5vw;
}

.reg__card label{
  font-size: 1.3vw !important;
}

.input__style .ant-select-selector{
  height: 56px !important;
  display: flex;
  align-items: center;
}