.home__layout{
  width: 100vw;
  overflow-y: auto;
  background-image: url(../../../public/images/bg.png);
  background-position: bottom;
  background-size: cover;
}

.home__content{
  width: 90vw;
  margin: 0px auto;
  color: white;
  margin-bottom: 1.2vh;
}

.home__main__title{
  text-align: center;
  font-size: 3rem;
}

.home__sub__title{
  text-align: right;
  font-size: 1.5rem;
  padding-right: 5px;
}

.home__footer__wrapper{
  width: 35vw;
  min-width: 350px;
  text-align: center;
  padding: 0;
  border-radius: 15px;
  margin: 20px auto;
  box-shadow: -1px 2px 15px 0px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: -1px 2px 15px 0px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: -1px 2px 15px 0px rgba(0, 0, 0, 0.46);
}

.home__footer .ant-card-head-title{
  font-size: 26px;
}

.home__footer__button{
  width: 25vw;
  min-width: 300px;
  height: 110px;
}

.home__footer__button__title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 22px;
}