.home__layout{
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-image: url(../../../public/images/bg.png);
  background-position: bottom;
  background-size: cover;
}

.home__content{
  width: 95vw;
  margin: 0px auto;
  color: white;
}

.home__main__title{
  text-align: center;
  font-size: 3rem;
}

.home__sub__title{
  text-align: right;
  font-size: 1.5rem;
  padding-right: 5px;
}

.home__footer__wrapper{
  width: 30vw;
  text-align: center;
  padding: 0;
  border-radius: 15px;
  margin: 5px auto;
}

.home__footer .ant-card-head-title{
  font-size: 24px;
}

.home__footer__button{
  width: 300px;
  height: 110px;
}

.home__footer__button__title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 30px;
}