.home__wrapper {
  width: 100vw;
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.home__layout, .home__footer__wrapper{
  background-image: radial-gradient(
    circle at 13% 47%,
    rgba(140, 140, 140, 0.03) 0%,
    rgba(140, 140, 140, 0.03) 25%,
    transparent 25%,
    transparent 100%
  ),
  radial-gradient(
    circle at 28% 63%,
    rgba(143, 143, 143, 0.03) 0%,
    rgba(143, 143, 143, 0.03) 16%,
    transparent 16%,
    transparent 100%
  ),
  radial-gradient(
    circle at 81% 56%,
    rgba(65, 65, 65, 0.03) 0%,
    rgba(65, 65, 65, 0.03) 12%,
    transparent 12%,
    transparent 100%
  ),
  radial-gradient(
    circle at 26% 48%,
    rgba(60, 60, 60, 0.03) 0%,
    rgba(60, 60, 60, 0.03) 6%,
    transparent 6%,
    transparent 100%
  ),
  radial-gradient(
    circle at 97% 17%,
    rgba(150, 150, 150, 0.03) 0%,
    rgba(150, 150, 150, 0.03) 56%,
    transparent 56%,
    transparent 100%
  ),
  radial-gradient(
    circle at 50% 100%,
    rgba(25, 25, 25, 0.03) 0%,
    rgba(25, 25, 25, 0.03) 36%,
    transparent 36%,
    transparent 100%
  ),
  radial-gradient(
    circle at 55% 52%,
    rgba(69, 69, 69, 0.03) 0%,
    rgba(69, 69, 69, 0.03) 6%,
    transparent 6%,
    transparent 100%
  ),
  linear-gradient(90deg, #6A5AE0, #785FDC);
}

.home__content{
  width: 85vw;
  height: 65vh;
  margin: 0px auto;
  margin-top: 30px;
  background-color: transparent;
}

.home__user__avatar{
  background-color: #87d068;
}

.home__main__title{
  /* border: 1px solid black; */
  text-align: center;
  font-size: 3rem;
}

.home__sub__title{
  text-align: right;
  font-size: 1.5rem;
  padding-right: 5px;
}

.home__footer__wrapper{
  text-align: right;
  color: black;
  padding: 0;
  /* border-radius: 50px; */
}

.home__footer{
  width: 100vw;
  height: 30.3vh;
  margin: 0px auto;
  border-radius: 32px 32px 0 0;
  overflow: hidden;
  background-color: white;
}

.home__footer__button{
  width: 240px;
  height: 85px;
}

.home__footer__button__style{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}